*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:#111827;
}

.logo{
    color:#fff;
    font-size:28px;
}

.nav-links{
    display:flex;
    gap:35px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    position:relative;
    padding:5px 0;
    transition:.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}

.nav-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-4px;
    width:0%;
    height:3px;
    background:#38bdf8;
    transition:0.4s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after{
    width:100%;
}

.nav-links a.active{
    color:#38bdf8;
}